<template>
    <div id="app">
        <DocList v-bind:docs="docs" v-bind:on-add-new="onAddNew" v-bind:on-choose="onChoose"/>
        <DocEditor v-bind:cur-doc="curDoc" v-bind:on-delete="onDelete" v-bind:on-save="onSave"/>
    </div>
</template>

<script>

    import DocEditor from "./components/DocEditor.vue";
    import DocList from "./components/DocList.vue";
    import axios from "axios";

    const BASE_URL = 'http://localhost:4005';

    function defaultDoc() {
        return {
            _id: null,
            name: 'Default',
            content: '# Edit me'
        }
    }

    export default {
        components: {
            DocEditor,
            DocList
        },
        data: function () {
            return {
                docs: [],
                curDoc: defaultDoc()
            }
        },
        created: async function () {
            try {
                const ans = await axios.get(`${BASE_URL}/docs`);
                this.docs = ans.data.docs;
                if (!this.docs.length) {
                    this.docs.push(defaultDoc())
                }
                this.curDoc = this.docs[0];
            } catch (error) {
                console.log(error);
            }
        },
        methods: {
            onChoose: function (doc) {
                this.curDoc = doc;
            },
            onAddNew: function () {
                this.curDoc = defaultDoc();
                this.docs.push(this.curDoc)
            },
            onSave: async function (doc) {
                var id = doc._id;
                delete doc._id;
                if (id) {
                    await axios.put(`${BASE_URL}/docs/${id}`, doc)
                } else {
                    id = (await axios.post(`${BASE_URL}/docs`, doc)).data.doc._id;
                }
                doc._id = id;
            },
            onDelete: async function (doc) {
                if (doc._id)
                    await axios.delete(`${BASE_URL}/docs/${doc._id}`);
                const index = this.docs.indexOf(doc);
                if (index !== -1)
                    this.docs.splice(index, 1);
                if (!this.docs.length)
                    this.docs = [defaultDoc()];
                this.curDoc = this.docs[0];
            }
        }
    }
</script>

<style scoped>

</style>