<template>
    <div class="content">
        <header class="header">
            <input v-model="curName">
            <div>
                <button v-on:click="onSave(curDoc)">save</button>
                <button v-on:click="onDelete(curDoc)">delete</button>
            </div>
        </header>
        <div class="content-area">
            <textarea v-model="curContent"></textarea>
            <div class="result" v-html="markdown()"></div>
        </div>
    </div>
</template>

<script>
    import marked from "marked";

    export default {
        name: "DocEditor",
        props: {
            curDoc: {
                type: Object,
            },
            onSave: Function,
            onDelete: Function
        },

        computed: {
            curContent: {
                get: function () {
                    return this.curDoc.content;
                },
                set: function (newVal) {
                    this.curDoc.content = newVal;
                }
            },
            curName: {
                get: function () {
                    return this.curDoc.name;
                },
                set: function (newVal) {
                    this.curDoc.name = newVal;
                }
            },
        },
        methods: {
            markdown: function () {
                return marked(this.curContent, {sanitize: true});
            }
        },
    };
</script>

<style scoped>

</style>