<template>
    <div>
        <h3>Docs list</h3>
        <ul>
            <li v-for="doc in docs">
                <a href="#" v-on:click="onChoose(doc)">{{doc.name}}</a>
            </li>
            <button v-on:click="onAddNew()">Add new doc</button>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "DocList",
        props: {
            docs: Array,
            onChoose: Function,
            onAddNew: Function
        }
    }
</script>

<style scoped>

</style>