body {
    background-color: #f8ffd7;
}

.main {
    margin: 30px auto;
    width: 960px;
}

.header {
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    background-color: #c5e1a5;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.menu {
    width: 15%;
    float: left;
    background-color: #e6ee9c;
    padding: 10px;
}

.content {
    width: 760px;
    float: left;
    padding: 10px;
    background: #ffffce;
}

.footer {
    width: fit-content;
    clear: left;
    padding: 10px;
    background: #94af76;
    margin-right: auto;
    margin-left: auto;
}

.image {
    width: 320px;
    height: 240px;
}

.big-image {
    width: 640px;
    height: 480px;
}

.ad-image {
    width: 320px;
    height: 32px;
}

@media screen and (max-width: 960px) {
    .main {
        width: fit-content;
    }

    .menu {
        width: auto;
        float: none;
    }

}

@media screen and (max-width: 760px) {
    .content {
        width: auto;
        float: none;
    }

    .big-image {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 700px) {

    .image {
        width: 100%;
        height: auto;
    }

    .ad-image {
        width: 100%;
        height: auto;
    }
}

